@media (max-width: 950px){
    section .container{
        width: 45%;
    }
    section .container h2{
        font-size: 18px;
    }
    section .container .botoes{
        flex-direction: column;
        margin: 2% 2%;
    }
    section .container .botoes button{
        font-size: 14px;
        padding: 2%;
    }
    section #res{
        font-size: 14px;     
    }
    section #res img{
        width: 80px;
    }
    section #res p:nth-child(2){
        font-size: 16px;
    }  
    
}
@media (max-width: 600px){
    section{
        display: flex;
        flex-direction: column; 
    }
    section .container{
        width: 70%;
    }
    section .container h2{
        font-size: 18px;
    }
    section .container .botoes{
        margin: 1% 1%;
        display: flex;
        flex-direction: row;
    }
    section .container .botoes button{
        padding: 2%;
        margin-top: 2%;
    }
    section #res{
        width: 70%;
        margin-top: 2%;
        line-height: 150%;
        font-size: 14px;   
    }
    section #res img{
        width: 80px;
    }
    section #res p:nth-child(2){
        font-size: 16px;
    }
    
}