*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    padding: 2%;
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.678), rgba(255, 255, 255, 0.616)), url('img/friends.jpg');
    background-size: cover;
    font-family: 'Caveat Brush';
}
header h1 i{
    font-size: 8px;
    margin: 2px;
}
header h1 i:nth-child(1), i:nth-child(4) {
    color: red;
}
header h1 i:nth-child(2), i:nth-child(5){
    color: yellow;
}
header h1 i:nth-child(3), i:nth-child(6){
    color: rgb(6, 155, 201);
}
section{
    display: flex;
    margin-top: 4%;
    flex-direction: row; 
}
section .container{
    background-color: rgba(221, 211, 211, 0.205);
    width: 40%;
    margin: auto;
    margin-top: 1%;
    border-radius: 20px;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
section .container h2{
    text-align: center;
}
section .container .botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4%;
    margin: 4% 4%;
}
section .container .botoes button{
    background-color: rgba(216, 216, 216, 0.164);
    border: none;
    padding: 3%;
    margin: 3%;
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    transition: .4s;
}
section .container .botoes button:hover{
    color: rgb(77, 77, 77);
    background-color: rgba(192, 189, 189, 0.329);
}
section #res{
    background-color: rgba(221, 211, 211, 0.205);
    width: 40%;
    margin: auto;
    margin-top: 1%;
    border-radius: 20px;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 180%;
    text-align: justify;
    font-size: 16px;
    
}
section #res img{
    width: 100px;
    display: flex;
    margin: auto;
    padding-bottom: 2%;
}
section #res p:nth-child(2){
    text-align: center;
    font-size: 18px;
    padding-bottom: 3%;
    font-weight: 600;
}
section #res p:nth-child(3){
    text-indent: 5%;
}
section #res p:nth-child(4){
    padding-top: 2%;
}
section #res a{
    text-decoration: none;
    color: rgb(92, 92, 92);
    padding-top: 2%;
}
section #res a:hover{
    color: rgba(241, 19, 19, 0.842);    
}

